<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ams-dev00.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ams-dev00.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ams-dev00</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ams-dev00</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbAMS" Order="1" Enabled="False">
          <Destination Path="Data Source=.\sql;Initial Catalog=dbAMS;Persist Security Info=True;User ID=sa;Password=ismael004685" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sql;Initial Catalog=dbAMS;Persist Security Info=True;User ID=sa;Password=ismael004685" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbAMS_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\sql;Initial Catalog=dbAMS;Persist Security Info=True;User ID=sa;Password=ismael004685" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbAMS-Web.config Connection String">
      <ParameterValue>Data Source=.\sql;Initial Catalog=dbAMS;Persist Security Info=True;User ID=sa;Password=ismael004685</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>